In [2]:
import pandas as pd
import warnings 
warnings.filterwarnings(action='ignore')
import numpy as np
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
import re

In [5]:
train = pd.read_csv('train.csv', encoding = 'utf-8')
test = pd.read_csv('test_x.csv', encoding = 'utf-8')
sample_submission = pd.read_csv('sample_submission.csv', encoding = 'utf-8')

In [6]:
train

       index                                               text  author
0          0  He was almost choking. There was so much, so m...       3
1          1             “Your sister asked for it, I suppose?”       2
2          2   She was engaged one day as she walked, in per...       1
3          3  The captain was in the porch, keeping himself ...       4
4          4  “Have mercy, gentlemen!” odin flung up his han...       3
...      ...                                                ...     ...
54874  54874  “Is that you, Mr. Smith?” odin whispered. “I h...       2
54875  54875  I told my plan to the captain, and between us ...       4
54876  54876   "Your sincere well-wisher, friend, and sister...       1
54877  54877            “Then you wanted me to lend you money?”       3
54878  54878  It certainly had not occurred to me before, bu...       0

[54879 rows x 3 columns]

In [7]:
test

       index                                               text
0          0  “Not at all. I think she is one of the most ch...
1          1  "No," replied he, with sudden consciousness, "...
2          2  As the lady had stated her intention of scream...
3          3  “And then suddenly in the silence I heard a so...
4          4  His conviction remained unchanged. So far as I...
...      ...                                                ...
19612  19612  At the end of another day or two, odin growing...
19613  19613  All afternoon we sat together, mostly in silen...
19614  19614   odin, having carried his thanks to odin, proc...
19615  19615  Soon after this, upon odin's leaving the room,...
19616  19616  And all the worse for the doomed man, that the...

[19617 rows x 2 columns]

In [9]:
def alpha_num(text):
    return re.sub(r'[^A-Za-z0-9 ]', '', text)

train['text']=train['text'].apply(alpha_num)

In [10]:
train

       index                                               text  author
0          0  He was almost choking There was so much so muc...       3
1          1                 Your sister asked for it I suppose       2
2          2   She was engaged one day as she walked in peru...       1
3          3  The captain was in the porch keeping himself c...       4
4          4  Have mercy gentlemen odin flung up his hands D...       3
...      ...                                                ...     ...
54874  54874  Is that you Mr Smith odin whispered I hardly d...       2
54875  54875  I told my plan to the captain and between us w...       4
54876  54876   Your sincere wellwisher friend and sister LUC...       1
54877  54877               Then you wanted me to lend you money       3
54878  54878  It certainly had not occurred to me before but...       0

[54879 rows x 3 columns]

In [11]:
def remove_stopwords(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stopwords:
            final_text.append(i.strip())
    return " ".join(final_text)

In [12]:
stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", 
             "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", 
             "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", 
             "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", 
             "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", 
             "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", 
             "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", 
             "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", 
             "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", 
             "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", 
             "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [13]:
train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()
train['text'] = train['text'].apply(alpha_num).apply(remove_stopwords)
test['text'] = test['text'].apply(alpha_num).apply(remove_stopwords)

In [14]:
X_train = np.array([x for x in train['text']])
X_test = np.array([x for x in test['text']])
y_train = np.array([x for x in train['author']])

In [15]:
X_train

array(['almost choking much much wanted say strange exclamations came lips pole gazed fixedly bundle notes hand looked odin evident perplexity',
       'sister asked suppose',
       'engaged one day walked perusing janes last letter dwelling passages proved jane not written spirits instead surprised mr odin saw looking odin meeting putting away letter immediately forcing smile said',
       ..., 'sincere wellwisher friend sister lucy odin',
       'wanted lend money', 'certainly not occurred said yes like'],
      dtype='<U1433')

In [16]:
vocab_size = 20000
embedding_dim = 16
max_length = 500
padding_type='post'

In [17]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [18]:
train_sequences = tokenizer.texts_to_sequences(X_train)
train_padded = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)

test_sequences = tokenizer.texts_to_sequences(X_test)
test_padded = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)

In [20]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])

In [21]:
model.compile(loss='sparse_categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [22]:
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 500, 16)           320000
_________________________________________________________________
global_average_pooling1d_1 ( (None, 16)                0
_________________________________________________________________
dense_2 (Dense)              (None, 24)                408
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 125
=================================================================
Total params: 320,533
Trainable params: 320,533
Non-trainable params: 0
_________________________________________________________________
None

In [23]:
num_epochs = 20
history = model.fit(train_padded, y_train, 
                    epochs=num_epochs, verbose=2, 
                    validation_split=0.2)

Epoch 1/20
1372/1372 - 14s - loss: 1.5641 - accuracy: 0.2785 - val_loss: 1.5315 - val_accuracy: 0.2753
Epoch 2/20
1372/1372 - 13s - loss: 1.3507 - accuracy: 0.4478 - val_loss: 1.2112 - val_accuracy: 0.5349
Epoch 3/20
1372/1372 - 14s - loss: 1.1183 - accuracy: 0.5542 - val_loss: 1.0887 - val_accuracy: 0.5559
Epoch 4/20
1372/1372 - 14s - loss: 1.0127 - accuracy: 0.5949 - val_loss: 1.0155 - val_accuracy: 0.5965
Epoch 5/20
1372/1372 - 13s - loss: 0.9365 - accuracy: 0.6307 - val_loss: 0.9712 - val_accuracy: 0.6265
Epoch 6/20
1372/1372 - 14s - loss: 0.8719 - accuracy: 0.6625 - val_loss: 0.9599 - val_accuracy: 0.6280
Epoch 7/20
1372/1372 - 15s - loss: 0.8194 - accuracy: 0.6863 - val_loss: 0.9005 - val_accuracy: 0.6534
Epoch 8/20
1372/1372 - 12s - loss: 0.7683 - accuracy: 0.7109 - val_loss: 0.8814 - val_accuracy: 0.6653
Epoch 9/20
1372/1372 - 13s - loss: 0.7250 - accuracy: 0.7313 - val_loss: 0.8593 - val_accuracy: 0.6731
Epoch 10/20
1372/1372 - 13s - loss: 0.6829 - accuracy: 0.7486 - val_loss: 0.8406 - val_accuracy: 0.6825
Epoch 11/20
1372/1372 - 12s - loss: 0.6463 - accuracy: 0.7643 - val_loss: 0.8552 - val_accuracy: 0.6770
Epoch 12/20
1372/1372 - 12s - loss: 0.6163 - accuracy: 0.7749 - val_loss: 0.8235 - val_accuracy: 0.6907
Epoch 13/20
1372/1372 - 13s - loss: 0.5873 - accuracy: 0.7863 - val_loss: 0.8448 - val_accuracy: 0.6918
Epoch 14/20
1372/1372 - 13s - loss: 0.5602 - accuracy: 0.7962 - val_loss: 0.7887 - val_accuracy: 0.7121
Epoch 15/20
1372/1372 - 12s - loss: 0.5368 - accuracy: 0.8071 - val_loss: 0.7877 - val_accuracy: 0.7167
Epoch 16/20
1372/1372 - 12s - loss: 0.5163 - accuracy: 0.8147 - val_loss: 0.7933 - val_accuracy: 0.7167
Epoch 17/20
1372/1372 - 12s - loss: 0.4989 - accuracy: 0.8209 - val_loss: 0.7785 - val_accuracy: 0.7217
Epoch 18/20
1372/1372 - 12s - loss: 0.4801 - accuracy: 0.8273 - val_loss: 0.7832 - val_accuracy: 0.7206
Epoch 19/20
1372/1372 - 13s - loss: 0.4633 - accuracy: 0.8345 - val_loss: 0.7877 - val_accuracy: 0.7203
Epoch 20/20
1372/1372 - 13s - loss: 0.4500 - accuracy: 0.8387 - val_loss: 0.7942 - val_accuracy: 0.7198

In [24]:
pred = model.predict_proba(test_padded)

WARNING:tensorflow:From <ipython-input-24-5af2ddf0e804>:1: Sequential.predict_proba (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use `model.predict()` instead.

In [25]:
pred

array([[1.0086958e-04, 8.0063188e-01, 8.2015760e-02, 1.1723246e-01,
        1.9026631e-05],
       [5.0841212e-02, 7.6941323e-01, 1.2877531e-01, 3.0816132e-02,
        2.0154128e-02],
       [9.9604863e-01, 3.1575679e-03, 1.6486178e-08, 1.4983796e-09,
        7.9376437e-04],
       ...,
       [1.1442599e-03, 9.9883682e-01, 3.0581688e-08, 1.8929579e-05,
        4.8971195e-08],
       [9.3174318e-04, 9.9906427e-01, 1.9963053e-07, 3.6206643e-06,
        2.0073723e-07],
       [9.4696075e-01, 3.7175894e-04, 4.4724575e-06, 6.1132233e-08,
        5.2662928e-02]], dtype=float32)